.maindiv{
    position: absolute;
    width: 600px;
    display: grid;
    height: 600px;
    border: 1px solid;
    border-color: black;
    grid-template-columns: repeat(15,40px);
    grid-template-rows: repeat(15,40px);
}
.Red{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #f7162d;
border:0.5px solid #9e0616;
    grid-column: 1/7;
    grid-row: 1/7;
  
}
.playerzone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.player{
    border-radius:50%;
    background-color: white;
    opacity:0.9;
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Green{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color:#00e34c ;
border:0.5px solid #039634;
    grid-column: 10/16;
    grid-row: 1/7;
  
}
.Yellow{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color:#f7bb05 ;
border:0.5px solid #9c7605;  
    grid-column: 10/16;
    grid-row: 10/16;
}
.Blue{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color:#04c3c9 ;
border:0.5px solid #027478;
    grid-column: 1/7;
    grid-row: 10/16;
}
/* .step>div {
    flex: 1;
} */
.step>div img{
    max-width: 100%;
}
.step {
    text-align: center;
    border: 0.5px solid #b3b3b3;
    background-color: aliceblue;
    display: flex;
}
.centerbox {
    grid-column: 7/10;
    grid-row: 7/10;
}

.yellowsafe {
    background-color: #f7bb05;
    border: 0.5px solid #9c7605;
}
.bluesafe {
    background-color: #04c3c9;
    border: 0.5px solid #027478;
}
.redsafe {
    background-color: #f7162d;
    border: 0.5px solid #9e0616;
}
.greensafe {
    background-color: #00e34c;
    border: 0.5px solid #039634;
}
.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #c2c2c2 25%, #e6e6e6 25%, #e6e6e6 50%, #c2c2c2 50%, #c2c2c2 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 56.57px 56.57px;
}
.place{
    display: inline-block;
    width: 25px;

}
.dice{
    position: absolute;
    height: 100px;
    top: 0;
    left: -102px;
}
.two
{
display: inline-block;
margin: 5px;
width: 20px;

}
/* step[i].id==35||step[i].id==40||step[i].id==48||step[i].id==1||step[i].id==9||step[i].id==14||step[i].id==22||step[i].id==27 */

[id='35'],[id='40'],[id='48'],[id='1'],[id='9'],[id='14'],[id='22'],[id='27']
{
    background-image: url('./doodles/star (1).png');
    background-size: cover;
}
[id='72']{
    background-image: url('./doodles/box.png');
    background-size: cover;
}
.redcenter{
    position: fixed;
    left: 45%;
    top: 48%;
}
.bluecenter{
    position: fixed;
    left: 49%;
    top: 54%;   
}
.redwin{
    height: 55px;
    width: 27px;
    border: 0.5px solid;
    border-color: black;
    position: relative;
    bottom: -31px;
    display: flex;
    flex-wrap: wrap;
    
}
/* .redwin>div {
    flex: 1;
} */
.redwin>div img{
    max-width: 100%;
    max-height: 100%;
}
.greenwin{
    width: 97px;
    height: 31px;
    right: -16%;
    border: 0.5px solid;
    border-color: black;
    position: relative;
    /* bottom: -31px; */
    display: flex;
}
/* .greenwin>div {
    flex: 1;
} */
.greenwin>div img{
    max-width: 100%;
    max-height: 100%;
}
.bluewin{
    width: 66px;
    height: 26px;
    top: 75%;
    right: 8%;
    border: 0.5px solid;
    border-color: black;
    position: relative;
    display: flex;
}
.bluewin>div img{
    max-width: 100%;
    max-height: 100%;
}
.yellowwin{
    width: 27px;
    height: 55px;
    border: 0.5px solid;
    border-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.yellowwin>div img{
    max-width: 100%;
    max-height: 100%;
}